In [1]:
# for general data wrangling tasks
import pandas as pd

# to read and visualize spatial data
import geopandas as gpd

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
# to provide basemaps 
import contextily as ctx

# to give more power to your figures (plots)
import matplotlib.pyplot as plt

In [3]:
g2011 = gpd.read_file('data2011/data2.csv')

In [4]:
g2011.head()

,B03002_001E,B03002_001M,B03002_002E,B03002_002M,B03002_003E,B03002_003M,B03002_004E,B03002_004M,B03002_005E,B03002_005M,...,B03002_019E,B03002_019M,B03002_020E,B03002_020M,B03002_021E,B03002_021M,GEO_ID,GEOID,NAME,geometry
0,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Not Hispanic or Latino,Margin of Error!!Total!!Not Hispanic or Latino,Estimate!!Total!!Not Hispanic or Latino!!White...,Margin of Error!!Total!!Not Hispanic or Latino...,Estimate!!Total!!Not Hispanic or Latino!!Black...,Margin of Error!!Total!!Not Hispanic or Latino...,Estimate!!Total!!Not Hispanic or Latino!!Ameri...,Margin of Error!!Total!!Not Hispanic or Latino...,...,Estimate!!Total!!Hispanic or Latino!!Two or mo...,Margin of Error!!Total!!Hispanic or Latino!!Tw...,Estimate!!Total!!Hispanic or Latino!!Two or mo...,Margin of Error!!Total!!Hispanic or Latino!!Tw...,Estimate!!Total!!Hispanic or Latino!!Two or mo...,Margin of Error!!Total!!Hispanic or Latino!!Tw...,id,id2,Geographic Area Name,None
1,2451,194,2366,196,1894,235,124,88,0,95,...,17,20,7,12,10,17,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",None
2,2103,142,1914,169,1470,214,72,49,13,21,...,95,124,85,125,10,15,1400000US06001400200,06001400200,"Census Tract 4002, Alameda County, California",None
3,5088,370,4627,350,3542,319,584,133,39,49,...,23,32,4,12,19,30,1400000US06001400300,06001400300,"Census Tract 4003, Alameda County, California",None
4,3943,427,3493,435,2624,420,339,84,29,45,...,8,15,0,95,8,15,1400000US06001400400,06001400400,"Census Tract 4004, Alameda County, California",None

In [5]:
g2011 = g2011.drop([0])

In [6]:
g2011.head()

,B03002_001E,B03002_001M,B03002_002E,B03002_002M,B03002_003E,B03002_003M,B03002_004E,B03002_004M,B03002_005E,B03002_005M,...,B03002_019E,B03002_019M,B03002_020E,B03002_020M,B03002_021E,B03002_021M,GEO_ID,GEOID,NAME,geometry
1,2451,194,2366,196,1894,235,124,88,0,95,...,17,20,7,12,10,17,1400000US06001400100,06001400100,"Census Tract 4001, Alameda County, California",None
2,2103,142,1914,169,1470,214,72,49,13,21,...,95,124,85,125,10,15,1400000US06001400200,06001400200,"Census Tract 4002, Alameda County, California",None
3,5088,370,4627,350,3542,319,584,133,39,49,...,23,32,4,12,19,30,1400000US06001400300,06001400300,"Census Tract 4003, Alameda County, California",None
4,3943,427,3493,435,2624,420,339,84,29,45,...,8,15,0,95,8,15,1400000US06001400400,06001400400,"Census Tract 4004, Alameda County, California",None
5,3481,319,3120,342,1668,204,1066,285,11,18,...,54,50,9,15,45,48,1400000US06001400500,06001400500,"Census Tract 4005, Alameda County, California",None

In [7]:
list(g2011)

['B03002_001E',
 'B03002_001M',
 'B03002_002E',
 'B03002_002M',
 'B03002_003E',
 'B03002_003M',
 'B03002_004E',
 'B03002_004M',
 'B03002_005E',
 'B03002_005M',
 'B03002_006E',
 'B03002_006M',
 'B03002_007E',
 'B03002_007M',
 'B03002_008E',
 'B03002_008M',
 'B03002_009E',
 'B03002_009M',
 'B03002_010E',
 'B03002_010M',
 'B03002_011E',
 'B03002_011M',
 'B03002_012E',
 'B03002_012M',
 'B03002_013E',
 'B03002_013M',
 'B03002_014E',
 'B03002_014M',
 'B03002_015E',
 'B03002_015M',
 'B03002_016E',
 'B03002_016M',
 'B03002_017E',
 'B03002_017M',
 'B03002_018E',
 'B03002_018M',
 'B03002_019E',
 'B03002_019M',
 'B03002_020E',
 'B03002_020M',
 'B03002_021E',
 'B03002_021M',
 'GEO_ID',
 'GEOID',
 'NAME',
 'geometry']

In [8]:
czip = "zip:///tl_2021_06_tract.zip/tl_2021_06_tract.shp"

In [9]:

counties = gpd.read_file('data/tl_2021_06_tract.shp')

In [10]:
counties.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,06,085,504321,06085504321,5043.21,Census Tract 5043.21,G5020,S,1450237,0,+37.3931319,-121.8651427,"POLYGON ((-121.87556 37.39924, -121.87535 37.3..."
1,06,085,504410,06085504410,5044.10,Census Tract 5044.10,G5020,S,1102136,0,+37.4093719,-121.8788884,"POLYGON ((-121.88886 37.40758, -121.88576 37.4..."
2,06,085,507003,06085507003,5070.03,Census Tract 5070.03,G5020,S,9529865,0,+37.2199936,-121.9979512,"POLYGON ((-122.02489 37.21683, -122.02459 37.2..."
3,06,085,507004,06085507004,5070.04,Census Tract 5070.04,G5020,S,2424447,0,+37.2260144,-121.9763816,"POLYGON ((-121.99304 37.22562, -121.99249 37.2..."
4,06,085,502204,06085502204,5022.04,Census Tract 5022.04,G5020,S,331145,0,+37.3013832,-121.9258424,"POLYGON ((-121.93167 37.29803, -121.92801 37.3..."

In [11]:
type(g2011['GEOID'])

pandas.core.series.Series

In [12]:
geo2011 = g2011.merge(counties, on='GEOID')

In [13]:
geo2011.head()

,B03002_001E,B03002_001M,B03002_002E,B03002_002M,B03002_003E,B03002_003M,B03002_004E,B03002_004M,B03002_005E,B03002_005M,...,TRACTCE,NAME_y,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry_y
0,2451,194,2366,196,1894,235,124,88,0,95,...,400100,4001,Census Tract 4001,G5020,S,6945856,0,+37.8676563,-122.2318813,"POLYGON ((-122.24691 37.88535, -122.24665 37.8..."
1,2103,142,1914,169,1470,214,72,49,13,21,...,400200,4002,Census Tract 4002,G5020,S,586560,0,+37.8481378,-122.2495916,"POLYGON ((-122.25792 37.84261, -122.25773 37.8..."
2,5088,370,4627,350,3542,319,584,133,39,49,...,400300,4003,Census Tract 4003,G5020,S,1110840,0,+37.8405841,-122.2544782,"POLYGON ((-122.26563 37.83764, -122.26556 37.8..."
3,3943,427,3493,435,2624,420,339,84,29,45,...,400400,4004,Census Tract 4004,G5020,S,716138,0,+37.8482840,-122.2574447,"POLYGON ((-122.26183 37.84162, -122.26180 37.8..."
4,3481,319,3120,342,1668,204,1066,285,11,18,...,400500,4005,Census Tract 4005,G5020,S,591424,0,+37.8485452,-122.2647353,"POLYGON ((-122.26951 37.84858, -122.26937 37.8..."

In [14]:
c2011meta = gpd.read_file('data2011/ACSDT5Y2011.B03002_metadata_2022-01-23T164149.csv')

In [ ]:
header = list(geo2011)

In [ ]:
header

In [ ]:
c2011meta.head()

In [ ]:
c2011meta.shape

In [ ]:
c2011meta

In [ ]:
header2